@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    padding: 20px;
    background: rgba(127, 127, 127, 0.4);
    color: currentColor;
    text-decoration: none;
    border-radius: 10px;
    z-index: 1000000000000;
    opacity: 1;
  }

body{
    font-family: 'Raleway', sans-serif;
}

.container{
    width: 1170px;
}

.page-header{
    background-color: #313b46;
    position: fixed;
    width: 100%;
    z-index: 1000000000000;
    opacity: 1;
}

.header-logo{
    display: block;
    float: left;
    font-family: 'bebas_neue_regularregular';
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    opacity: 1;
}

.header-logo:hover{
    text-decoration: none;
    color: #fff;
}

.main-nav{
    text-decoration: none;
    display: block;
    float: right;
}

.main-nav li{
    display: inline-block;
    padding-right: 40px;   
    opacity: 1; 
}

.main-nav li:last-child{
    padding-right: 0;
}

.main-nav a{    
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    opacity: 1;
}

.main-nav a:hover{    
    color: #fff;
}

.home{    
    padding: 235px 0;
    background-image: url(../img/home-bg.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
}

.home-title{
    font-weight: 800;
    font-size: 35px;
    color: #f3f3f3;
    margin: 0 0 45px 0;
}

.home-subtitle{
    font-size: 28px;
    color: #fff;
    margin: 0 0 40px 0;
}

.home-link-portfolio{
    padding: 10px;
    background-color: #3f8dbf;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}

.home-link-portfolio:hover{
    text-decoration: none;
}

.pages{
    text-align: center;
    padding: 75px 0;
    border-bottom: 1px solid  #bababa;
}

.pages-title{
    font-size: 24px;
    font-weight: 800;
    color: #616161;
    margin: 0;
    margin-bottom: 30px;
}

.pages-title-keyword{
    color: #3f8dbf;
}

.pages-cont{
    position: relative;
    min-height: 100px;
    padding: 0 0 5px 0;
}

.pages-descr{
    color: #7f7f7f;
    font-size: 16px;
    max-width: 870px;
    margin: 0 auto;
    display: none;
}

.pages-descr:first-child{
    display: block;
}

.pages-line{
    height: 2px;
    background-color: #bababa;
    width: 77%;
    margin: 0 auto;
}

.pages-item{
    font-size: 14px;
    color: #bababa;
    text-transform: uppercase;
    padding-top: 75px;
    position: relative;
}

.pages-item.active{
    color: #3f8dbf;
}

.pages-item:before{
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #bababa;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%, 0);
}

.pages-item:after{
    content: '';
    position: absolute;
    background-image: url(../img/spritesheet-pages.png);
    top: 25px;
    left: 50%;
    transform: translate(-50%, 0);    
}

.pages-item-ideas:after{   
    content: '';
    width: 30px;
    height: 48px;
    background-position: -48px -6px;
}


.pages-item-ideas.active:after{
    content: '';
    width: 30px;
    height: 48px;
    background-position: -6px -6px;
}

.pages-item.active:before{
    background-color: #3f8dbf;
}

.pages-item-solution.active:after{
    content: '';
    width: 34px;
    height: 56px;
    background-position: -158px -6px;
}

.pages-item-touch.active:after{
    content: '';
    width: 36px;
    height: 48px;
    background-position: -62px -66px;
}

.pages-item-winning.active:after{
    content: '';
    width: 44px;
    height: 48px;
    background-position: -90px -6px;
}

.pages-item-solution:after{
    content: '';
    width: 34px;
    height: 56px;
    background-position: -158px -74px;
}
    
.pages-item-touch:after{
    content: '';
    width: 36px;
    height: 48px;
    background-position: -110px -66px;
}
        
.pages-item-winning:after{ 
    content: '';
    width: 44px;
    height: 48px;
    background-position: -6px -66px;
}

.portfolio-1{
    background-color: #fbfbfb;
    padding: 70px 0;
}

.portfolio-title{
    color: #bababa;
    position: relative;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 30px;
    margin: 0 0 45px 0;
}

.title-underline:before{
    content: '';
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 1px;
    width: 15%;
    background-color: #dadada;
}

.title-underline-dark:before{
    background-color: #636363;
}

.portfolio-title:after{
    content: '';
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translate(-50%, 0);    
    width: 30px;
    height: 20px;
    background-position: -20px -6px;
    background-image: url('../img/spritesheet.png');
    background-color: #fbfbfb;
}

.portfolio-row-top{
    margin: 0 0 60px 0;
}

.portfolio-article-print:before{
    content: '';
    position: absolute;
    top: 5%;
    left: 15%;
    transform: translate(-50%, 0);  
    background-image: url('../img/spritesheet.png');
    width: 48px;
    height: 50px;
    background-position: -52px -66px;
}

.portfolio-article-motion:before{
    content: '';
    position: absolute;
    top: 5%;
    left: 15%;
    transform: translate(-50%, 0);  
    background-image: url('../img/spritesheet.png');
    width: 42px;
    height: 48px;
    background-position: -52px -126px;
}

.portfolio-article-package:before{
    content: '';
    position: absolute;
    top: 5%;
    left: 15%;
    transform: translate(-50%, 0);  
    background-image: url('../img/spritesheet.png');
    width: 48px;
    height: 48px;
    background-position: -106px -126px;
}

.portfolio-article-sound:before{
    content: '';
    position: absolute;
    top: 5%;
    left: 15%;
    transform: translate(-50%, 0);  
    background-image: url('../img/spritesheet.png');
    width: 48px;
    height: 33px;
    background-position: -201px -6px;
}

.portfolio-article-time:before{
    content: '';
    position: absolute;
    top: 5%;
    left: 15%;
    transform: translate(-50%, 0);  
    background-image: url('../img/spritesheet.png');
    width: 48px;
    height: 48px;
    background-position: -112px -66px;
}

.portfolio-article-illustration:before{
    content: '';
    position: absolute;
    top: 5%;
    left: 15%;
    transform: translate(-50%, 0);  
    background-image: url('../img/spritesheet.png');
    width: 48px;
    height: 48px;
    background-position: -201px -51px;
}

.our-project-title:after{    
    content: '';
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translate(-50%, 0);    
    background-image: url('../img/spritesheet.png');
    width: 30px;
    height: 20px;
    background-color: #2c2c2c;
    background-position: -165px -111px;
}

.journal-title:after{
    content: '';
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translate(-50%, 0);    
    width: 30px;
    height: 20px;
    background-image: url('../img/spritesheet.png');
    background-color: #fff;
    background-position: -193px -111px;
}

.contacts-title:after{       
    content: '';
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translate(-50%, 0);  
    width: 30px;
    height: 20px;
    padding: 10px;
    background-image: url('../img/spritesheet.png');
    background-position: -237px -155px;
}

.portfolio-article{
    padding: 0 0 0 100px;
    position: relative;
}

.porfolio-article-title{
    margin: 0 0 20px 0;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #606060;
}

.portfolio-article-content{
    margin: 0;
    font-size: 14px;
    color: #7f7f7f;
}

.our-project{
    background-color: #2c2c2c;
    text-align: center;
    padding-top: 95px;
    padding-bottom: 90px;
}

.our-project-title{
    position: relative;
    color: #9b9b9b;
    font-weight: 800;
    font-size: 25px;
    padding: 0 0 30px 0;margin: 0 0 45px 0;
}

.portfolio-slider{
    margin-bottom: 60px;
}

.our-project-link{
    color: #9b9b9b;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid  #b9b9b9;
}

.journal{
    padding-top: 75px;
    padding-bottom: 85px;
    border-bottom: 1px solid gray;
    text-align: center;
}

.journal-title{
    position: relative;
    font-weight: 800;
    font-size: 25px;
    color: #b9b9b9;
    margin: 0 0 45px 0;
    padding: 0 0 30px 0;
}

.journal-article{
    text-align: left;
    margin-bottom: 50px;
}

.article-image{
    height: 150px;
    width: 150px;
    display: inline-block;
    padding: 0;
    vertical-align: top;
    margin-right: 25px;
}

.article-content{
    display: inline-block;
    width: 270px;
    vertical-align: top;
}

.article-title{
    font-size: 18px;
    font-weight: 800;
    color: #616161;
    display: block;
    margin-bottom: 20px;
}

.article-foreword{
    color: #7f7f7f;
    font-size: 14px;
    margin: 0;
    line-height: 24px;
    margin-bottom: 20px;
}

.features{
    background-color: #fbfbfb;
    text-align: center;
    padding: 60px 0 80px 0;
    position: relative;
}

.features:before{
    content: '';
    position: absolute;
    top: 25%;
    left: 50%;  
    transform: translate(-50%, 0);  
    width: 2px;
    height: 53%;
    background-color: #bababa;
}

.features-title{
    position: relative;
    font-size: 25px;
    font-weight: 800;
    color: #b6b6b6;
    margin: 0 0 45px 0;
    padding: 0 0 30px 0;
}

.features-title:after{    
    content: '';
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translate(-50%, 0);    
    width: 30px;
    height: 20px;
    background-image: url('../img/spritesheet.png');
    background-color: #fbfbfb;
    background-position: -20px -6px;
}

.features-step{
    padding-top: 70px;
    position: relative;
}

.features-step-ideas:after{
    content: '';
    position: absolute;
    top: 20px;
    left: 15%;  
    background-image: url('../img/spritesheet.png');    
    width: 20px;
    height: 32px;
    background-position: -218px -106px;
    border: 1px solid  #3f8dbf;
    padding: 20px;
    border-radius: 50%;
}

.features-step-ideas:before{
    content: '';
    position: absolute;
    top: 29%;
    left: 0;
    height: 1px;
    width: 15%;
    background-color: #bababa;
}

.features-step-solution:after{
    content: '';
    position: absolute;
    top: 20px;
    right: 15%;  
    background-image: url('../img/spritesheet.png');
    width: 20px;
    height: 32px;
    background-position: 4px -150px;
    border: 1px solid  #3f8dbf;
    padding: 20px;
    border-radius: 50%;
}

.features-step-solution:before{
    content: '';
    position: absolute;
    top: 29%;
    right: 0;
    height: 1px;
    width: 15%;
    background-color: #bababa;
}

.features-step-touch:after{
    content: '';
    position: absolute;
    top: 20px;
    left: 15%;  
    background-image: url('../img/spritesheet.png');
    width: 24px;
    height: 32px;
    background-position: -158px -151px;
    border: 1px solid  #3f8dbf;
    padding: 20px;
    border-radius: 50%;
}

.features-step-touch:before{
    content: '';
    position: absolute;
    top: 29%;
    left: 0;
    height: 1px;
    width: 15%;
    background-color: #bababa;
}

.features-step-winning:after{
    content: '';
    position: absolute;
    top: 20px;
    right: 15%;  
    background-image: url('../img/spritesheet.png');
    width: 30px;
    height: 32px;
    background-position: -197px -150px;
    border: 1px solid  #3f8dbf;
    padding: 20px;
    border-radius: 50%;
}

.features-step-winning:before{
    content: '';
    position: absolute;
    top: 29%;
    right: 0;
    height: 1px;
    width: 15%;
    background-color: #bababa;
}

.features-step-title{
    font-size: 14px;
    font-weight: 800;
    color: #3f8dbf;
    text-align: left;
    margin: 0;
}

.features-step-content{
    font-size: 14px;
    color: #7f7f7f;
    text-align: left;
    margin: 0;
}


.features-row:nth-of-type(2n) .features-step-content,
.features-row:nth-of-type(2n) .features-step-title{
    text-align: right;
}


.contacts{
    background-image: url(../img/contacts-bgi.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 70px;
}

.contacts-title{
    position: relative;
    font-size: 25px;
    font-weight: 800;
    color: #b9b9b9;
    margin: 0 0 45px 0;
    padding: 0 0 30px 0;
}

.contacts-form{
    text-align: left;
}

.contacts-form input:not([type="submit"]){
    display: block;
    width: 100%;
    background-color: rgba(127, 127, 127, 0.11);
    border: none;
    margin-bottom: 15px;
    padding: 18px 0 15px 15px;
    color: #fff;
    font-size: 14px;
}

.contacts-form input::-webkit-input-placeholder {
    color: #a1a1a1;
    font-size: 14px;
    text-decoration: underline;
}

.contacts-form input:-moz-placeholder {
    color: #a1a1a1;
    font-size: 14px;
    text-decoration: underline;
}

.contacts-form input:-ms-placeholder {
    color: #a1a1a1;
    font-size: 14px;
    text-decoration: underline;
}

.contacts-form .subject{
    width: 100%;
    height: 180px;
    background-color: rgba(127, 127, 127, 0.11);
    padding: 18px 0 0 14px;
    border: none;
    margin-bottom: 15px;
}

.contacts-form .subject::-webkit-input-placeholder {
    color: #a1a1a1;
    font-size: 14px;
    text-decoration: underline;
}

.contacts-form .subject:-moz-placeholder {
    color: #a1a1a1;
    font-size: 14px;
    text-decoration: underline;
}

.contacts-form .subject:-ms-placeholder {
    color: #a1a1a1;
    font-size: 14px;
    text-decoration: underline;
}

.contacts-form input[type="submit"]{
    padding: 13px 20px;
    border-radius: 5px;
    border: none;
    background-color: #3f8dbf;
    font-size: 13px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
}

.contacts-detailes{
    text-align: left;
}

.contacts-detailes-title{
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    margin: 0 0 25px 0;
}


.contacts-detailes-info{
    font-size: 14px;
    color: #d9d9d9;
    margin: 0 0 40px 0;
}

.contacts-adress{
    text-align: left;
}

.contacts-adress address,
.contacts-phone,
.contacts-email{
    font-family: 'Raleway', sans-serif;
    position: relative;
    display: block;
    font-size: 14px;
    color: #d9d9d9;
    font-style: normal;
    margin: 0 0 12px 0;
    padding: 0 0 0 20px;
    text-align: left;
}

.contacts-adress address{
    width: 60%;
}

.contacts-adress address:after{    
    content: '';
    position: absolute;
    top: 4px;
    left: 0;  
    background-image: url('../img/spritesheet.png');    
    width: 9px;
    height: 13px;
    background-position: -6px -6px;
}

.contacts-phone:after{    
    content: '';
    position: absolute;
    top: 4px;
    left: 0;  
    background-image: url('../img/spritesheet.png'); 
    width: 10px;
    height: 11px;
    background-position: -58px -203px;
}

.contacts-email:after{    
    content: '';
    position: absolute;
    top: 7px;
    left: 0;  
    background-image: url('../img/spritesheet.png'); 
    width: 12px;
    height: 8px;
    background-position: -244px -183px;
}

.page-footer{
    color: #cacaca;
}

.footer-info{
    background-color: #2c2c2c;
    padding: 70px 0;
}

.footer-info-title{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    margin: 0 0 30px 0;
}

.footer-info-content{
    font-size: 14px;
    margin: 0 0 40px 0;
}

.footer-info-post{
    margin: 0 0 15px 0;
    padding: 0;
}

.footer-info-cite{
    display: block;
    margin: 0 0 15px 0;
    padding: 0;
}

.footer-copyright{
    background-color: #292929;
    padding: 35px 0;
}

