<footer class="page-footer">
    <section id="footer-info" class="footer-info">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 footer-info-div">
                    <h3 class="footer-info-title">Get In Touch</h3>
                    <p class="footer-info-content">Fusce dapibus, tellus commodo, tortor mauris condimentum utellus fermentum, porta sem malesuada magna.</p>
                    <div class="footer-info-div">
                        <p>Moonshine Street No: 14/05 Light City, Jupiter 0247 541 65 87 support@longwave.com
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 footer-info-div">
                    <h3 class="footer-info-title">Twitter</h3>
                    <p class="footer-info-content">Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
                    <p class="footer-info-content">Donec ullamcorper metus auctor fringilla. Nullam quis risus eget.</p>
                    <p class="footer-info-content">Vestibulum id ligula porta euismod semper. Maecenas faucibus mollis.</p>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 footer-info-div">
                    <h3 class="footer-info-title">popular post</h3>
                    <div class="footer-post">
                        <p class="footer-info-post">Vivamus sagittis lacus vel augue laoreet rutrum dolor auctor.</p>
                        <span class="footer-info-cite">14 Nov, 2012 </span>
                    </div>
                    <div class="footer-post">
                        <p class="footer-info-post">Scelerisque nisl consectetur et.</p>
                        <span class="footer-info-cite">22 May, 2012</span>
                    </div>
                    <div class="footer-post">
                        <p class="footer-info-post">Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce </p>
                        <span class="footer-info-cite">22 May, 2012</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 footer-info-div">
                    <h3 class="footer-info-title">About Us</h3>
                    <p class="footer-info-content">Vestibulum id ligula porta felis euismod semper. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
                    <p class="footer-info-content">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus curabitur blandit tempus.</p>
                </div>
            </div>
        </div>
    </section>
    <div class="footer-copyright">
        <div class="container">
            <span class="copyright">© 2013 Slowave All rights reserved. Theme by elemis.</span>
        </div>
    </div>
</footer>
<a href="#home" id="top">Наверх</a>
