<header class="page-header">
    <div class="container">
        <a href="#" class="header-logo"><img src="img/header-logo.png" alt="" class="header-logo-img"> slowave</a>
        <nav>
            <ul class="main-nav">
                <li><a href="#home" class="header-button header-button-home">home</a></li>
                <li><a href="#pages" class="header-button header-button-pages">pages</a></li>
                <li><a href="#journal" class="header-button header-button-journal">journal</a></li>
                <li><a href="#portfolio" class="header-button header-button-portfolio">portfolio</a></li>
                <li><a href="#features" class="header-button header-button-features">features</a></li>
                <li><a href="#contacts" class="header-button header-button-contacts">contacts</a></li>
            </ul>
        </nav>
    </div>
</header>
