.ico-add {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-facebook-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-google-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-instagram-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-linkedin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-menu {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-placeholder {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-right-arrow {
  width: 1em;
  height: 1em;
  fill: #1e201d;
}
.ico-skype-logo {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-smartphone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-youtube {
  width: 1em;
  height: 1em;
  fill: initial;
}
